In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
import os
import json
import pandas as pd

In [ ]:
! pip3 install scikit-surprise==1.0.5
! pip3 install -U scikit-learn

In [ ]:

from surprise import Dataset
from surprise import Reader
from surprise import SVD, evaluate, accuracy
from surprise import dump
from sklearn.model_selection import cross_validate
from surprise.model_selection import train_test_split
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV

# Testing data

In [ ]:
#opening data

file_path = os.path.expanduser('/content/drive/MyDrive/Project/SEM 5/Yelp Dataset/FilteredData/finaldata.csv')

In [ ]:
#format for reading data
reader = Reader(line_format='user item rating', sep=',')

In [ ]:
#loading the data
data = Dataset.load_from_file(file_path, reader=reader)

In [ ]:
#splitting data into 5 parts
data.split(n_folds=5)

# SVD Model

In [ ]:
#single value decomposition model used for dimensionality reduction using matrix factorization
svd = SVD()

In [ ]:
#MAE - Mean absolute error (difference between the prediction of an observation and the true value of that observation.) (Lower is better accuracy)
#RMSE - root mean square error (the measure of how well a regression line fits the data points) (Lower is better)
evaluate(svd, data, measures=['RMSE', 'MAE'])

/usr/local/lib/python3.7/dist-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/usr/local/lib/python3.7/dist-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 1.1224
MAE:  0.8744
------------
Fold 2
RMSE: 1.1239
MAE:  0.8755
------------
Fold 3
RMSE: 1.1227
MAE:  0.8742
------------
Fold 4
RMSE: 1.1216
MAE:  0.8730
------------
Fold 5
RMSE: 1.1235
MAE:  0.8749
------------
------------
Mean RMSE: 1.1228
Mean MAE : 0.8744
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.8744362843418302,
                             0.8754638139810607,
                             0.8742434348428261,
                             0.8730157619832355,
                             0.8749001629049672],
                            'rmse': [1.1224458472371888,
                             1.12390445957997,
                             1.1226840933399709,
                             1.121590222798207,
                             1.1234891540230896]})

# Bias and Learning Rate

In [ ]:
#bias and learning rate
param_grid = {'biased': [True, False], 'lr_all': [0.001, 0.005, 0.05]}
#get accuracy/loss of hyperparameters by crossvalidation using all possible combinations
#cv-> crossvalidation splitting
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3, refit=True)

In [ ]:
#fit the best suited hyperparameters combination
gs.fit(data)

In [ ]:
#get fitted data
results = gs.cv_results

In [ ]:
#convert into dataframe to make it pretty
results_df = pd.DataFrame.from_dict(gs.cv_results)
results_df.to_csv('results.csv')

In [ ]:
#REMEMBER: LOWER IS BETTER!
results_df

   split0_test_rmse  split1_test_rmse  ...  param_biased  param_lr_all
0          1.326912          1.326454  ...          True         0.001
1          1.172019          1.172411  ...          True         0.005
2          1.070475          1.072364  ...          True         0.050
3          3.067546          3.065077  ...         False         0.001
4          2.049098          2.048767  ...         False         0.005
5          1.295606          1.291621  ...         False         0.050

[6 rows x 19 columns]

# Tuning n factors

In [ ]:
#n_factors = n folds(deciding the best number of folds)
#finding the best combinations again but this time with n_factors
param_grid = {'n_factors': [1, 5, 10], 'biased': [True], 'lr_all': [0.005],
              'n_epochs': [20]}

gs2 = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

In [ ]:
gs2.fit(data)

In [ ]:
results = gs2.cv_results

In [ ]:
results_df = pd.DataFrame.from_dict(results)
results_df

   split0_test_rmse  split1_test_rmse  ...  param_lr_all  param_n_epochs
0          1.299486          1.298661  ...         0.005              20
1          1.287301          1.286533  ...         0.005              20
2          1.274665          1.274006  ...         0.005              20

[3 rows x 21 columns]

# Tuning Epochs

In [ ]:
#n_epoch = epochs(deciding the best number of epoch)
#finding the best combinations again but this time with n_epoch
param_grid = {'n_epochs': [10, 20, 50], 'n_factors': [1], 'biased': [True], 'lr_all': [0.005]}
gs3 = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

In [ ]:
gs3.fit(data)

In [ ]:
results = gs3.cv_results
results_df = pd.DataFrame.from_dict(results)
results_df

   split0_test_rmse  split1_test_rmse  ...  param_biased  param_lr_all
0          1.317589          1.317842  ...          True         0.005
1          1.299465          1.299947  ...          True         0.005
2          1.273742          1.274352  ...          True         0.005

[3 rows x 21 columns]

# Tuning Regressor

In [ ]:
param_grid = {'n_epochs': [20], 'n_factors': [1], 'biased': [True],
              'lr_all': [0.005], 'reg_all': [0.05, 0.06, 0.07]}
gs4 = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

In [ ]:
gs4.fit(data)

In [ ]:
results = gs4.cv_results
results_df = pd.DataFrame.from_dict(results)
results_df

   split0_test_rmse  split1_test_rmse  ...  param_lr_all  param_reg_all
0          1.301553          1.301891  ...         0.005           0.05
1          1.301798          1.302021  ...         0.005           0.06
2          1.301958          1.302337  ...         0.005           0.07

[3 rows x 22 columns]

In [ ]:
results_df[['rank_test_rmse', 'rank_test_mae']]

   rank_test_rmse  rank_test_mae
0               1              1
1               2              2
2               3              3

# Single Value Decomposition

In [ ]:
svdpp = SVD()

In [ ]:
evaluate(svdpp, data, measures=['RMSE', 'MAE'])

In [ ]:
nmf = NMF()

In [ ]:
evaluate(nmf, data, measures=['RMSE', 'MAE'])

# best model

In [ ]:
final = SVD(n_epochs=20, n_factors=1, biased=True,
              lr_all=0.005, reg_all=0.06)

In [ ]:
data = Dataset.load_from_file(file_path, reader=reader)
trainset, testset = train_test_split(data, test_size=.2)

In [ ]:
import time
start = time.time()

In [ ]:
final.fit(trainset)
runtime = time.time() - start
print(runtime)

112.86427211761475

In [ ]:
predictions = final.test(testset)

In [ ]:
accuracy.rmse(predictions)

RMSE: 1.2908

1.2908157217865033

In [ ]:
accuracy.mae(predictions)

MAE:  1.0480

1.0479786062486418

In [ ]:
dump.dump('finalmodel', algo=final, predictions=predictions, verbose=1)

The dump has been saved as file finalmodel

In [ ]:
preds, model = dump.load('finalmodel')

# Prediction

In [ ]:
model.predict('30678', '51871')

Prediction(uid='30678', iid='51871', r_ui=None, est=3.2966408389412387, details={'was_impossible': False})

# Mapping restaurant information to item IDs

In [ ]:
def find(f, seq):
    for item in seq:
        if f(item):
            return item

In [ ]:
def get_info(iid):
    return find(lambda b: iid == b['id'], businesses)

In [ ]:
import gc
gc.collect()

209

In [ ]:
'''import json
with open('/content/drive/MyDrive/Project/SEM 5/Yelp Dataset/FilteredData/finalbusinessesindexed.json') as f:
    businesses = json.load(f)'''
businesses=[]
import json
with open('/content/drive/MyDrive/Project/SEM 5/Yelp Dataset/shortdata/FilteredData/finalbusinessesindexed.json') as f:
    businesses = json.load(f)
#businesses.append(temp)

In [ ]:
get_info(78)

{'address': '3150 Roswell Rd NW, Ste A3',
 'attributes': {'Alcohol': "u'full_bar'",
  'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': True, 'casual': False}",
  'BusinessAcceptsCreditCards': 'True',
  'BusinessParking': "{'garage': True, 'street': True, 'validated': False, 'lot': False, 'valet': True}",
  'Caters': 'True',
  'DogsAllowed': 'False',
  'GoodForMeal': "{'dessert': None, 'latenight': None, 'lunch': None, 'dinner': True, 'brunch': None, 'breakfast': None}",
  'HappyHour': 'True',
  'HasTV': 'False',
  'Music': "{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': False, 'live': False, 'video': False, 'karaoke': False}",
  'NoiseLevel': "u'loud'",
  'OutdoorSeating': 'None',
  'RestaurantsDelivery': 'True',
  'RestaurantsGoodForGroups': 'True',
  'RestaurantsReservations': 'True',
  'RestaurantsTableService': 'True',
  'RestaurantsTakeOut': 'True',
  'WiFi': "u'free'"},
 'business_id': 'MurRZhxMFipelvK2zzHRaw',
 'categories': 'Nightlife, Tapas Bars, Restaurants, Bars, Beer Bar, Spanish, Burgers',
 'city': 'Atlanta',
 'hours': {'Friday': '11:30-21:0',
  'Monday': '11:30-21:0',
  'Saturday': '11:30-21:0',
  'Sunday': '11:30-21:0',
  'Thursday': '11:30-21:0',
  'Tuesday': '11:30-21:0',
  'Wednesday': '11:30-21:0'},
 'id': 78,
 'is_open': 1,
 'latitude': 33.8398718345,
 'longitude': -84.3797662126,
 'name': 'The Iberian Pig',
 'postal_code': '30305',
 'review_count': 184,
 'stars': 4.5,
 'state': 'GA'}

In [ ]:
def get_n_preds(uid, n):
    ratings = []
    for i in range(1, 73101):
        pred = model.predict(str(uid), str(i))
        ratings.append((int(pred.iid), pred.est))
    ratingsdesc = sorted(ratings, reverse=True, key=lambda x: x[1])[:n]
    namedratings = [(get_info(r[0])['name'], r[1]) for r in ratingsdesc]
    return namedratings

In [ ]:
get_n_preds(44, 10)

In [ ]:
import csv
with open('/content/drive/MyDrive/Project/SEM 5/Yelp Dataset/FilteredData/finaldata.csv', 'r') as f:
    reader = csv.reader(f)
    reviews = list(reader)

In [ ]:
def get_reviewed_restaurants(uid, desc=True):
    userreviews = list(filter(lambda r: r[0] == str(uid), reviews))
    ratings = [r[2] for r in userreviews]
    restaurants = list(map(lambda r: get_info(int(r[1])), userreviews))
    names = [r['name'] for r in restaurants]
    if desc==True:
        return sorted(list(zip(names, ratings)), reverse=True, key=lambda x: x[1])
    return sorted(list(zip(names, ratings)), key=lambda x: x[1])

In [ ]:
get_reviewed_restaurants(8145)